<div style="display: flex; margin: 20px; justify-content: space-between;">
    <button><a href="./courses">Click here to redirect to course page</a></button>
    <button><a href="./forms">Click here to redirect to forms page</a></button>
    <button><a href="./search">Click here to redirect to search page</a></button>
</div>
