<div class="mt-4" style="display: flex; align-items: center; justify-content: center;">
    <form style="width: 700px;" action="/news" method="get">
        <div class="form-group">
            <label for="SearchInput">Search</label>
            <input type="text" name="q" class="form-control" id="SearchInput" aria-describedby="search" placeholder="Enter text">
        </div>
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>
