<div class="left-navbar">
    <div class="head">
        <div class="logo">
            <a href="index.html">
                <img src="https://logo-logos.com/2016/10/Instagram_logo_wordmark_logotype.png" alt="" width="110px"
                    height="auto">
            </a>
        </div>
    </div>

    <div class="center">
        <div class="menu Home">
            <a href="/">
                <figure>
                    <img src="https://cdn-icons-png.flaticon.com/128/3405/3405771.png" alt="">
                    <figcaption>Home</figcaption>
                </figure>
            </a>
        </div>
        <div class="menu Search">
            <a href="/search">
                <figure>
                    <img src="https://cdn-icons-png.flaticon.com/128/54/54481.png" alt="">
                    <figcaption>Search</figcaption>
                </figure>
            </a>
        </div>
        <div class="menu Explore">
            <a href="">
                <figure>
                    <img src="https://cdn-icons-png.flaticon.com/128/77/77521.png" alt="">
                    <figcaption>Explore</figcaption>
                </figure>
            </a>
        </div>
        <div class="menu Reels">
            <a href="reels.html">
                <figure>
                    <img src="https://cdn-icons-png.flaticon.com/128/15069/15069868.png" alt="">
                    <figcaption>Reels</figcaption>
                </figure>
            </a>
        </div>
        <div class="menu Mess">
            <a href="">
                <figure>
                    <img src="https://cdn-icons-png.flaticon.com/128/5948/5948514.png" alt="">
                    <figcaption>Messages</figcaption>
                </figure>
            </a>
        </div>
        <div class="menu Notif">
            <a href="">
                <figure>
                    <img src="https://cdn-icons-png.flaticon.com/128/1077/1077035.png" alt="">
                    <figcaption>Notification</figcaption>
                </figure>
            </a>
        </div>
        <div class="menu Create">
            <a href="">
                <figure>
                    <img src="https://cdn-icons-png.flaticon.com/128/10103/10103630.png" alt="">
                    <figcaption>Create</figcaption>
                </figure>
            </a>
        </div>
        <div class="menu Profile">
            <a href="">
                <figure>
                    <img src="" alt="">
                    <figcaption>Profile</figcaption>
                </figure>
            </a>
        </div>
    </div>

    <div class="bottom">
        <div class="menu Threads">
            <a href="">
                <figure>
                    <img src="https://img.icons8.com/?size=48&id=oykyblY20T6o&format=png" alt="">
                    <figcaption>Threads</figcaption>
                </figure>
            </a>
        </div>
        <div class="menu More">
            <a href="">
                <figure>
                    <img src="https://cdn-icons-png.flaticon.com/128/8111/8111038.png" alt="">
                    <figcaption>More</figcaption>
                </figure>
            </a>
        </div>
    </div>
</div>